<ion-view title="Reply">
    <ion-nav-bar class="bar bar-positive" title="Reply">
        <ion-nav-buttons side="left">
            <button class="button button-clear ion-ios-arrow-back" ng-click="modals.viewMessageModal.remove()"> </button>
        </ion-nav-buttons>
        <h1 class="title light">Reply</h1>
    </ion-nav-bar>
    <ion-content padding="true">
        <ion-scroll zooming="true" direction="y" style="height: 100%; margin-top: 15%;">
            <div class="list card">
                <div class="item item-divider">
                    <h2 ng-bind="message.name"></h2>
                    <p ng-bind="message.date | date:'medium'"></p>
                </div>
                <div class="item item-body">
                    <p ng-bind="message.message"> </p>
                </div>
            </div>
            <div class="list">
                <h4>Reply</h4>
                <label class="item item-input">
                    <input type="text" name="subject" placeholder="Subject" ng-model="subject">
                </label>
                <label class="item item-input">
                    <textarea placeholder="Reply" name="message" ng-model="replyMessage"></textarea>
                </label>
                <button ng-if="!messageResponse" style="background-color: #6acbc8; color: white;" class="button button-block" ng-click="reply(subject, message.email, replyMessage)"> Send </button>
                <small ng-bind="messageResponse"></small>
            </div>
        </ion-scroll>
    </ion-content>
</ion-view>